@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center mt-5">
    <h1 class="display-4">Welcome To Mometo</h1>
    <br />
    <br />
    <p>Learning and personal development provides you with a feeling of accomplishment; it allows you to feel prepared to take on new challenges and explore different business ventures. Continuing to learn helps to build confidence; it forces you out of your comfort zone and has a positive impact on your self esteem.</p>
    <br />
    <p>Learn about Mometo<a href="https://docs.microsoft.com/aspnet/core"> click here</a></p>
</div>
