@model SignUp
@{
    ViewData["Title"] = "Login";
}

<div class="card bg-secondary shadow border-0 my-4">
    <div class="card-header bg-gradient m-lg-0 py-3" style="background-color:cadetblue">
        <div class="row">
            <div class="col-12 text-center">
                <h2>Login</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form method="post" asp-controller="Home" asp-action="Login">
            <input hidden asp-for="Id" />
            <div class="row">
                <div class="col-6">
                    <h1>Memento Learning Platform  <br>Course</h1>
                    <p class="m_par">
                        Learning online  refers to the creating, building, and maintaining education.
                        <br> It includes aspects such as Learning online.
                        <br> It is the platform for learning and developing skills.

                        <h2>Join us and start your journey</h2>
                </div>
                <div class="col-6">
                    <div class="border p-3">
                        @*<div asp-validation-summary="All" class="text-danger"></div>*@

                        <div class="mb-3 row p-1">
                            <label asp-for="Email" class="p-0"></label>
                            <input type="text" class="form-control border-0 shadow" asp-for="Email" />
                            <span class="text-danger" asp-validation-for="Email"></span>
                        </div>

                        <div class="mb-3 row p-1">
                            <label asp-for="NewPassword" class="p-0"></label>
                            <input type="text" class="form-control border-0 shadow" asp-for="NewPassword" />
                            <span class="text-danger" asp-validation-for="NewPassword"></span>
                        </div>

                        <div class="row">
                            <div class="col-6">
                                <button type="submit" class="btn btn-primary form-control">Login</button>
                            </div>
                            <div class="col-6">
                                <a class="btn btn-secondary border form-control" asp-controller="Home" asp-action="Index">Cancel</a>
                            </div>
                        </div>
                        <div class="row">
                            <p class="text-center mt-1">
                                Don't have an account<br>
                                <a class="text-danger" asp-controller="Home" asp-action="SignUp">Sign up </a> here
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts{

  <partial name="_ValidationScriptsPartial" />
}

