@{
    ViewData["Title"] = "Welcome";
}

<div>
    <header>
        <h1 class="text-center mt-3">Welcome to Computer Tech Courses</h1>
        <br />
        <hr />
    </header>

    <div class="mb-3">
        <h2>Web development courses</h2>
        <p>Web development refers to the creating, building, and maintaining of websites. It includes aspects such as web design, web publishing, web programming, and database management. It is the creation of an application that works over the internet i.e. websites.</p>
        <a class="btn btn-outline-success" href="https://youtu.be/zJSY8tbf_ys"><i class="bi bi-youtube"></i> Watch</a>
    </div>
    <br />
    <div class="mb-3">
        <h2>Java Courses</h2>
        <p>This Java programming tutorial is designed for beginners as well experienced professionals. Whether you’re looking to learn the basics of Java or its advanced concepts, our Java tutorial is the perfect resource for you.</p>
        <a class="btn btn-outline-success" href="https://youtu.be/xk4_1vDrzzo"><i class="bi bi-youtube"></i> Watch</a>
    </div>
    <br />
    <div class="mb-3">
        <h2>Sql Courses</h2>
        <p>SQL is a standard database language used to access and manipulate data in databases. SQL stands for Structured Query Language. SQL was developed by IBM Computer Scientists in the 1970s. By executing queries SQL can create, update, delete, and retrieve data in databases like MySQL, Oracle, PostgreSQL, etc. Overall SQL is a query language that communicates with databases.</p>
        <a class="btn btn-outline-success" href="https://youtu.be/HXV3zeQKqGY"><i class="bi bi-youtube"></i> Watch</a>
    </div>
    <br />
</div>

